td {
  /*margin: 5px;*/
  padding: 3px;*/
}

.owner td{
  font-size: 20px;
  background-color: yellow;
}

.quota td{
  color: #00611C;
  font-weight: bold;
}

.commission td{
  color: #00611C;
  font-weight: bold;
}

.bobby td{
  background-color: yellow;
}

